In [2]:
import pandas as pd
import sklearn

In [11]:
money = pd.read_csv('usd_exchange_rate.csv')
money

     nominal      data     curs         cdx
0          1    1/1/16  72.9299  Доллар США
1          1   1/12/16  75.9507  Доллар США
2          1   1/13/16  76.6041  Доллар США
3          1   1/14/16  76.4275  Доллар США
4          1   1/15/16  76.5230  Доллар США
..       ...       ...      ...         ...
941        1  10/25/19  63.8600  Доллар США
942        1  10/26/19  63.9966  Доллар США
943        1  10/29/19  63.8700  Доллар США
944        1  10/30/19  63.8320  Доллар США
945        1  10/31/19  63.8734  Доллар США

[946 rows x 4 columns]

In [14]:
values = money['curs']
values

0      72.9299
1      75.9507
2      76.6041
3      76.4275
4      76.5230
        ...
941    63.8600
942    63.9966
943    63.8700
944    63.8320
945    63.8734
Name: curs, Length: 946, dtype: float64

In [16]:
past = 7 * 4
future = 7
start=past
end=len(values) - future